extends template

block classes
	- var homeclass = ".active";
	- var contactclass = undefined;
	- var aboutclass = undefined;

block jumbotron
	.jumbotron
		.container
			h1.display-3
				img(src='/img/judge_logo.png')
			p Best tasks for you! Here and now!
block container
	.container
		.panel.panel-primary
			.panel-heading
				h4 Active Contests
			.panel-body
				<?php require ($_SERVER["DOCUMENT_ROOT"] . "/lib/get_contests.php"); ?>
