extends template

block styles
	link(rel='stylesheet', href='/d9757859af.css')

block classes
	- var homeclass = ".active";
	- var contactclass = undefined;
	- var aboutclass = undefined;

block jumbotron
	.jumbotron
		.container
			center
				img(src='/img/acdemy4_logo.png')
				h1.display-3="We develop new learning methods"
block container
	.container
		.panel.panel-primary
			.panel-heading
				h4 Active Contests
			.panel-body
				<?php require ($_SERVER["DOCUMENT_ROOT"] . "/lib/get/contests.php"); ?>
		.panel.panel-primary
			.panel-heading
				h4 Active Quizes
			.panel-body
				<?php require ($_SERVER["DOCUMENT_ROOT"] . "/lib/get/quizes.php"); ?>
