extends ../template

block classes
	- var homeclass = undefined;
	- var contactclass = undefined;
	- var aboutclass = undefined;

block jumbotron
	.jumbotron
		.container
			h1.display-3
				{{title}}
block container
	.container
		{{tasks}}
		nav.navbar.navbar-dark.bg-inverse
			ul.nav.navbar-nav
				li.nav-item
				li.nav-item
				li.nav-item
					a(href='/task.php?id=1', role='button') Task 1
				li.nav-item
				li.nav-item
				li.nav-item
					a(href='/task.php?id=2', role='button') Task 2
				li.nav-item
				li.nav-item
				li.nav-item
					a(href='/task.php?id=3', role='button') Task 3
		hr
		.row
			.col-md-4
				form(action='/submission.php')
					.form-group
						label(for='email') Email address
						input.form-control(type='email', name='email', aria-describedby='emailHelp', placeholder='Enter email')
						small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
					.form-group
						label(for='password') Password
						input.form-control(type='password', name='password', placeholder='Password')
					.form-group
						label(for='task') Task
						| 						{{tasksoption}}
					fieldset
						legend Submit:
						.form-group
							label(for='sourcecode') your source code
							textarea.form-control(name='sourcecode', rows='20')
					.form-group
						label(for='lang') Language
						| 						{{langs}}
					input(type='hidden', name='contest', value='{{contestid}}')
					button.btn.btn-primary(type='submit') Submit

