extends ../template

block styles_prev
block styles
	link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700')
block jumbotron

block container
	.container
		.row
			h1(style="color:red;") Login to submit in contest!
block js
