extends ../template

block styles
	link(rel='stylesheet', href='/css/quiz.css')
	
block jumbotron
	.jumbotron
		.container
			h1.display-3 {{title}}

block container
	.container.white
		.row
			.col-md-12(style='padding-right: 45px !important; padding-left: 45px !important;')
				form(enctype='multipart/form-data', action='/submission_quiz.php', method='POST', onsubmit='return validateForm()')
					.col-md-12
						label(for='email') Email address
						input.form-control(type='email', minlength='1', required='', name='email', value='{{email}}', readonly='')
						small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
			.col-md-12
				| {{tasks}}
			.col-md-12
				input(type='hidden', name='contest', value='{{quizid}}')
				button.btn.btn-raised.btn-success(type='submit') Submit
block js
		script.
		| 		function validateForm() {
		| 			var x = document.forms[0]["email"].value;
		| 			if (x == "") {
		| 				alert("Please, login!");
		| 				return false;
		| 			}
		| 		}
