extends ../template

block classes
	- var homeclass = undefined;
	- var contactclass = undefined;
	- var aboutclass = undefined;

block jumbotron
	.jumbotron.none
		.container
			h1.display-3="Results"
block container
	.container
		.row
			.table-responsive
				table.table
					{{table}}
		.row
			{{cert}}

